*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

section{
  padding: 40px 6%;
}

/* Home */

.home{
  background-image: url("../images/h_img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  line-height: 6rem;
  display: grid;
}

.home-logo{
  margin-top: 8rem;
}

.home-logo img{
  width: 60px;
}

.home-text{
  margin-top: 1rem;
  
}

.deal{
  margin-top: 2rem ;
}

.mouse-scroll{
  margin-top: 5rem;
  animation: bounce 3s infinite ;
}
@keyframes bounce{
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-100px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}
/* @keyframes bounce{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
} */
/* About */
.about{
  text-align: center;
  color: #000000;
}

.about h2{
  text-transform: uppercase;
}

/* services */

.services{
  text-align: center;
  color: #ffffff;
  background-image: url("../images/s_image.jpg");
}


.services h2{
  text-transform: uppercase;
}

/* what we do */
.we-do{
  display: grid;
  align-items: center;
  text-align: center;
}
.we-do h2{
  color: #000000;
  text-transform: uppercase;
}

.wedo-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
  gap: 1.8rem;
  align-items: center;
}

.box{
  cursor: pointer;
}

/* portfolio */
.col-md-6 img{
width: 100%;
}

.portfolio{
  cursor: pointer;
}

#proj1,
#proj2,
#proj3,
#proj4,
#proj5,
#proj6,
#proj7,
#proj8 {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 32%;
  width: 19.2%;
  color: #000000;
  background-color:#ffffff;
  text-decoration: underline black;
  font-weight: 800;
  font-size: 1.5rem;

}

/* contact */

.contact{
  background-image: url(../images/c_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
}

.contact input::placeholder,.contact textarea::placeholder{
  color: #ffffff;
  opacity: 1;
}


/* footer */
.icons{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  cursor: pointer;
}

.footer-text{
  text-align: center;
  margin-top: 2rem;
}